$background-color: #1d2f30;
$dark-green: #0b1919;
$light-green: #bae249;

@font-face {
  font-family: Cormorant;
  font-weight: 400;

  src: url(../fonts/Cormorant-Regular.ttf) format('woff2');
}

@font-face {
  font-family: Cormorant;
  font-weight: 700;

  src: url(../fonts/Cormorant-Bold.ttf) format('woff2');
}

@font-face {
  font-family: Cormorant;
  font-weight: 700;
  font-style: italic;

  src: url(../fonts/Cormorant-BoldItalic.ttf) format('woff2');
}

@font-face {
  font-family: OpenSans;

  src: url(../fonts/OpenSans.ttf) format('woff2');
}

body {
  font-family: OpenSans, sans-serif;

  min-width: 320px;
  margin: 0;

  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2.5rem;
  }
}

@media (max-width: 568px) {
  .container {
    padding: 0 1.5rem;
  }
}


.btn {
  font-size: .825rem;

  width: fit-content;
  padding: .5rem 1rem;

  text-decoration: none;

  border: 1px solid $light-green;
}

// HEADER
.header {
  padding: 1.5rem 0;

  background-color: $background-color;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 2.5rem;
  }


  &__actions {
    margin-left: 2.5rem;

    white-space: nowrap;
  }

  &__search,
  &__log-in {
    img {
      position: relative;
      top: 2px;

      height: 1.5rem;

      transition: transform linear 25ms;

      &:hover {
        transform: scale(120%);
      }
    }
  }


  &__search {
    margin-right: 2rem;
  }
}


@media (max-width: 768px) {
  .header {
    &__search {
      margin-right: 1.5rem;
    }
  }
}


.nav {
  overflow-x: auto;

  width: 100%;

  scrollbar-width: none;

  &__list {
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: 2.7rem;

    transition: transform linear 25ms;

    &:last-of-type {
      margin: 0;
    }

    &:hover {
      transform: scale(110%);
    }
  }

  &__link {
    white-space: nowrap;
    text-decoration: none;

    color: #fff;
  }
}

@media (max-width: 768px) {
  .header {
    &__nav {
      position: absolute;
      top: 100px;
      left: 0;

      display: flex;
      justify-content: center;

      width: 100%;
    }

    &__actions {
      margin-left: auto;
    }
  }
}


@media (max-width: 568px) {
  .nav {
    justify-content: start;

    &__list {
      padding: 0 1.5rem;
    }
  }
}


// HERO
.hero {
  padding: 5rem 0;

  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    font-family: Cormorant, sans-serif;
    font-size: 3rem;
  }

  &__text {
    max-width: 620px;
  }


  &__link {
    position: relative;

    display: flex;

    width: fit-content;

    text-decoration: none;

    color: #bae249;

    gap: .5rem;


    &:after {
      position: absolute;
      top: 25px;

      width: 100%;
      height: 2px;

      content: '';
      transition: 100ms;

      background-color: transparent;
    }

    &:hover:after {
      background-color: $light-green;
    }

    img {
      position: relative;
      top: 1px;

      height: 1.5rem;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 3.5rem 0;

    &__title {
      font-size: 2.5rem;
    }

    &__text {
      display: none;
    }
  }
}

@media (max-width: 568px) {
  .hero {
    &__title {
      font-size: 2rem;
    }
  }
}

// GALLERY

.gallery {
  padding-top: 5rem;

  background-color: $background-color;
}


.slider {
  overflow: hidden;

  padding: 0 12px;

  &__list {
    display: flex;
  }

  &__inner {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: .75rem;
  }

  &__item {
    display: flex;
    flex-direction: column;

    height: 350px;

    border: 2px solid $dark-green;
  }

  &__image {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90px;
    padding: 10%;

    background-color: $dark-green;


    img {
      max-width: 100%;
    }
  }

  &__title {
    font-family: Cormorant, sans-serif;
    font-size: 1.25rem;

    margin: 0;
  }

  &__text {
    font-size: .75rem;

    color: #899d9d;
  }


  &__link {
    transition: 100ms;

    color: $light-green;

    margin-block-start: auto;

    &:hover {
      color: #000;
      background-color: $light-green;
    }
  }

  &__controls {
    font-family: Cormorant, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    margin-left: 3rem;

    gap: 20px;
  }

  &__left,
  &__right {
    position: relative;
    top: 3px;

    display: flex;

    transition: 100ms;

    &:hover {
      scale: 130%;
    }

    img {
      width: 30px;
    }
  }

  &__left {
    transform: rotate(180deg);
  }
}

@media (max-width: 768px) {
  .slider {
    &__controls {
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 568px) {
  .slider {
    &__controls {
      margin-left: 0;
    }
  }
}

// ARTIFACTS

.artifacts {
  padding: 2rem 0 3rem;

  background-color: $background-color;


  &__title {
    font-family: Cormorant, sans-serif;
    font-size: 3rem;
    font-style: italic;

    margin: 0 0 2rem;
  }

  &__wrapper {
    display: flex;

    gap: 20px;
  }

  &__image {
    padding: 1rem;

    background-color: $dark-green;

    img {
      max-width: 100%;

      object-position: left;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;

    width: 35%;
    padding: 1.5rem;

    color: #000;
    background-color: $light-green;
  }

  &__subtitle {
    font-family: Cormorant, sans-serif;
    font-size: 1.5rem;

    margin: 0;

    white-space: nowrap;
  }

  &__text {
    font-size: 1.1rem;

    opacity: .5;
  }

  &__link {
    font-size: 1.25rem;
    font-weight: 700;

    display: flex;
    align-items: center;

    margin-top: auto;

    text-decoration: none;

    color: #000;


    img {
      position: relative;
      top: 2px;

      width: 35px;

      filter: brightness(0);
    }
  }
}


@media (max-width: 1280px) {
  .artifacts {
    &__wrapper {
      display: flex;
      flex-direction: column;
    }

    &__card {
      width: 100%;
      padding: 0;

      background-color: transparent;
    }

    &__subtitle {
      font-size: 2rem;

      color: #fff;
    }

    &__text {
      width: 100%;

      color: #fff;
    }

    &__link {
      color: $light-green;

      img {
        filter: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .artifacts {
    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 2rem;
    }

    &__text {
      font-size: 1rem;
    }
  }
}

@media (max-width: 568px) {
  .artifacts {
    &__title {
      font-size: 2.25rem;
    }

    &__subtitle {
      font-size: 1.75rem;
    }

    &__text {
      font-size: .75rem;
    }
  }
}

// CONTACT

.contact {
  padding: 4rem 0;

  background-image: url('../img/contact-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


  &__title {
    font-family: Cormorant, sans-serif;
    font-size: 3.5rem;
    font-style: italic;

    margin: 0;
  }

  &__text {
    font-size: 1.25rem;

    width: 900px;
  }

  &__form {
    display: flex;
    flex-direction: column;

    width: 400px;
    margin-top: 2rem;

    gap: .75rem;

    input {
      height: 3rem;
      padding-left: 1rem;

      outline: none;
    }

    button {
      font-weight: bold;

      margin-top: 1rem;
      padding: 1rem 2.25rem;

      cursor: pointer;
      transition: 100ms;

      background-color: $light-green;

      &:hover {
        color: $light-green;;
        background-color: transparent;
      }
    }
  }
}


@media (max-width: 1024px) {
  .contact {
    display: none;
  }
}


// FOOTER

.footer {
  padding-top: 1.5rem;

  background-color: $dark-green;

  &__links {
    display: flex;
    justify-content: center;

    margin: 0 0 1rem;

    gap: 2.5rem;
  }

  &__link {
    list-style: none;

    cursor: pointer;
    transition: 100ms;

    &:hover {
      transform: scale(120%);
    }

    img {
      width: 35px;
    }
  }

  &__copyright {
    display: flex;
    justify-content: center;

    padding: .5rem 0;

    background-color: $background-color;
  }
}

@media (max-width: 1024px) {
  .footer {
    display: none;
  }
}
